<div class="container my-2">
    <h1 class="h1 text-center">Write Blog</h1>

    <form>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Title</span>
            <input type="text" id="postTitle" class="form-control" placeholder="Title of the post" aria-label="Username"
                aria-describedby="addon-wrapping">
        </div>
        <div class="input-group">
            <span class="input-group-text">About</span>
            <textarea id="postBody" class="form-control" placeholder="Write Something about the post"
                aria-label="With textarea"></textarea>
        </div>

        <button type="submit" id="btnCreatePost" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="../app/writePost.js"></script>